.Phonetic {
  height: 60px;
  margin-bottom: 15px;
}

.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background: #f3b93b;
  color: white;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}
